.contact-form{ padding:20px; }

.contact-form .field { padding: 4px; margin:1px; background: #eee; }

.contact-form.field label { display:inline-block; width:120px; margin-left:5px; font-size:20px;}

.contact-form.field input { display:inline-block; }


